altgraph==0.16.1
backcall==0.1.0
cairocffi==1.0.2
CairoSVG==2.4.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cssselect2==0.2.1
decorator==4.4.0
defusedxml==0.6.0
dnspython==1.16.0
html5lib==1.0.1
idna==2.8
ipdb==0.12.2
ipython==7.5.0
ipython-genutils==0.2.0
Jinja2==2.10.1
json-diff==1.5.0
lxml==4.3.4
MarkupSafe==1.1.1
olefile==0.46
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.4.0
PyInstaller==3.5
PyMySQL==0.9.3
Pyphen==0.9.5
requests==2.22.0
simplegeneric==0.8.1
six==1.12.0
tinycss2==1.0.2
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
WeasyPrint==48
webencodings==0.5.1
