[couchdb]
uri = http://admin:admin@cdb_1:5984
db  = desk_drawer


[worker]
is_foreman = false
dns = powerdns:{{ ansible_hostname }}


[powerdns]
backend = sqlite
db = /var/data/powerdns/pdns.sqlite3
name = {{ ansible_hostname }}
primary = dnsa_1
