cdb:
  volumes:
    - /{your path}/cappuccino:/opt/src/cappuccino
    - /{your path}/GrowlCappuccino:/opt/src/GrowlCappuccino
    - /{your path}/CouchResource:/opt/src/CouchResource
    - /{your path}/cappuccino:/opt/env/cappuccino
