#lazy-recursion=yes
#logfile=/var/log/pdns.log
#loglevel=9
#module-dir=/opt/local/lib/powerdns
#setgid=pdns
#setuid=pdns
#use-logfile=yes
#webserver-address=172.16.172.10
#webserver-password=admin
#webserver-port=8081
#webserver=yes
allow-axfr-ips=172.16.172.10
cache-ttl=5
config-dir=/etc/powerdns
daemon=yes
disable-axfr=no
disable-tcp=no
gsqlite3-database=/etc/powerdns/dns.db
guardian=yes
launch=gsqlite3
local-address=172.16.172.1,127.0.0.1
local-port=53
log-dns-details=yes
log-failed-updates=yes
master=yes
query-logging=yes
socket-dir=/var/run
version-string=powerdns
