## The following requirements were added by pip --freeze:
Cython==0.21
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==3.11
ansible==1.7.2
argparse==1.2.1
couchdbkit==0.6.5
coverage==3.7.1
dnspython==1.12.0
ecdsa==0.11
gevent==1.0.1
greenlet==0.4.4
http-parser==0.8.3
json-diff==1.3.3
paramiko==1.15.1
pycrypto==2.6.1
python-ldap==2.4.18
requests==2.4.3
restkit==4.2.2
socketpool==0.5.2
wsgiref==0.1.2
yolk==0.4.3
